################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Implementation/SourceProject/Susen.SourceProject.Common/obj/Debug
/Implementation/SourceProject/Susen.SourceProject.Common/bin/Debug
/Implementation/SourceProject/packages/Newtonsoft.Json.12.0.1
/Implementation/SourceProject/.vs/SourceProject/v15/Server/sqlite3
/Implementation/SourceProject/packages
/Implementation/SourceProject/Susen.SourceProject.Services/bin
/Implementation/SourceProject/Susen.SourceProject.Services/obj/Debug
/Result/ResultProject/.vs/ResultProject/v15/Server/sqlite3
/Result/ResultProject/packages
/Result/ResultProject/ResultProject/Susen.ResultProject.Common/bin/Debug
/Result/ResultProject/ResultProject/Susen.ResultProject.Common/obj/Debug
/Result/ResultProject/ResultProject/Susen.ResultProject.Services/bin
/Result/ResultProject/ResultProject/Susen.ResultProject.Services/obj/Debug
